################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/KShell/Debug/KShell.tlog
/KShell/Debug/qmake
/KShell/Debug
/KShell/conf/CONF.json
/Project/测试区/工位采集器/192.168.100.249
/Temp
/log
/Debug/KShell.exe
/Debug/KShell.ilk
/Debug/KShell.pdb
/KShell/.vs/KShell/v15/.suo
/KShell/KShell.vcxproj
/KShell/KShell.vcxproj.user
/Project/北京/1/192.168.78.128
